name: Python application

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
  docker:
        needs: build
        runs-on: ubuntu-latest
        steps:
          -
            name: Checkout
            uses: actions/checkout@v3
          -
            name: Set up QEMU
            uses: docker/setup-qemu-action@v2
          -
            name: Set up Docker Buildx
            uses: docker/setup-buildx-action@v2
          -
            name: Login to Docker Hub
            uses: docker/login-action@v2
            with:
              username: ${{ secrets.DOCKERHUB_USERNAME }}
              password: ${{ secrets.DOCKERHUB_TOKEN }}
          -
            name: Build and push
            uses: docker/build-push-action@v4
            with:
              context: .
              push: true
              tags: riooir/deploy_test:app-${{ github.run_number }}
  modifygit:
    needs: docker
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        name: changing the deployment of git repo
        with:
          repository: 'riooir/deploy_test_k8s'
          token: ${{ secrets.GIT_TOKEN }}
      - name: modify the image
        run: |
          git config user.email st.ryu@coxspace.com
          git config user.name st.ryu
          pwd
          cat deployment.yaml
          pwd
          sed -i "s+riooir/deploy_test.*+riooir/deploy_test:app-$RUN_NUMBER+g" deployment.yaml
          cat deployment.yaml
          git add .
          git commit -m 'Done  by Github Actions   Job changemanifest: ${{ github.run_number }}'
          git push origin main
        env:
          GIT_USERNAME: ${{ secrets.GIT_USERNAME }}
          GIT_PASSWORD: ${{ secrets.GIT_PASSWORD }}
          RUN_NUMBER: ${{ github.run_number }}
  deploy:
    name: Deploy
    needs: [ docker, modifygit]
    runs-on: ubuntu-latest
    steps:
      - name: Set the Kubernetes context
        uses: azure/k8s-set-context@v2
        with:
          metheod: service-account
          # k8s-url: https://k8s.coxspace.biz:16443
          k8s-url: k8s.coxspace.biz
          k8s-secret: ${{ secrets.KUBERNETES_SECRET }}
          kubeconfig: ${{ secrets.KUBECONFIG }}
      - name: Checkout source code
        uses: actions/checkout@v4
        with:
          repository: 'riooir/deploy_test_k8s'
          token: ${{ secrets.GIT_TOKEN }}
      - name: Deploy to the Kubernetes cluster
        uses: azure/k8s-deploy@v1
        with:
          namespace: stryu-test
          manifests: |
            deployment.yaml
          images: |
            riooir/deploy_test/app-${{ github.run_number }}
            
      
 
